<form #formularz="ngForm">
  <h1>Zamówienie</h1>
  <label>
    <span>Imię i Nazwisko</span>
    <input type="text" [(ngModel)]="imieinazwisko" name="imieinazwisko" id="imieinazwisko"/>
  </label>
  <label>
    <span>emial</span>
    <input type="email"  [(ngModel)]="email" name="email" id="email"/>
  </label>
  <label>
    <span>Produkt</span>
    <select id="Produkt" [(ngModel)]="produkt" name="produkt">
      <option value="pralka">pralka</option>
      <option value="telewizor">telewizor</option>
      <option value="ladowka">ladowka</option>
      <option value="laptop">laptop</option>
    </select>
  </label>
  <label>
    <span>Ilosc</span>
    <input type="number"  [(ngModel)]="ilosc" name="ilosc" id="ilosc">
  </label>
  <label>
    <span>Wiadomosc</span>
    <textarea  [(ngModel)]="wiadomosc" name="wiadomosc" id="wiadomosc" cols="30" rows="1"></textarea>
  </label>
  <label>
    <button  type="submit" (click)="onSubmit()">Zamów</button>
  </label>
</form>

<p>imie kogos tam {{imieinazwisko}}</p>
<p>Twoja wiadomosc {{wiadomosc}}</p>